* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
.MuiBox-root,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Rubik", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(167deg, #282840 0%, #37233a 100%);
}

.app {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(120, 120, 120);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(93, 93, 93);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.homeContainer {
  max-width: 1600px;
  margin: 0 auto;
}

.profileContainer {
  max-width: 1150px;
  margin: 0 auto;
}

.opacityBox {
  user-select: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.opacityBox:hover {
  opacity: 0.7;
}

@keyframes loopAnimation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.loopAnimation {
  color: transparent;
  background: radial-gradient(circle, #00d5fa, #a40fe9a3);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  background-size: 200% 200%;
  -webkit-background-size: 200% 200%;
  -moz-background-size: 200% 200%;
  -ms-background-size: 200% 200%;
  animation: loopAnimation 10s infinite;
  -webkit-animation: loopAnimation 10s infinite;
  -moz-animation: loopAnimation 10s infinite;
  -ms-animation: loopAnimation 10s infinite;
}

@keyframes wrongImage {
  0% {
    color: rgba(0, 0, 0, 0.54);
    right: 0;
  }

  25% {
    right: -7px;
    color: rgb(147, 38, 38);
  }

  50% {
    right: 7px;
    color: rgb(147, 38, 38);
  }

  75% {
    right: -7px;
    color: rgb(147, 38, 38);
  }

  100% {
    color: rgba(0, 0, 0, 0.54);
    right: 0;
  }
}

.wrongImage {
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  animation: wrongImage 0.7s ease;
  -webkit-animation: wrongImage 0.7s ease;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.myInputWidget .css-rhrbtd-MuiInputBase-input {
  text-align: center !important;
  text-transform: capitalize;
  position: relative;
}

.myInputWidget .css-1y6has7-MuiInputBase-input {
  text-align: center !important;
  text-transform: capitalize;
  position: relative;
}

.postText::before {
  content: "â";
  margin-right: 5px;
  font-size: 27px;
}

.postText::after {
  content: "â";
  margin-left: 5px;
  font-size: 27px;
}

.myInputWidgetUppercase .css-1y6has7-MuiInputBase-input,
.myInputWidgetUppercase .css-rhrbtd-MuiInputBase-input {
  text-transform: uppercase;
}

.loadingAnimation {
  animation: loadingAnimation 0.7s linear infinite;
  -webkit-animation: loadingAnimation 0.7s linear infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: #00d5fa 4px solid;
  border-right: transparent 4px solid;
}

@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.linkUnderline {
  position: relative;
}

.linkUnderline::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #00d5fa;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.linkUnderline:hover::before {
  width: 100%;
}

.upAnimation {
  position: relative;
  left: -100px;
  opacity: 0;
  animation: upAnimation 0.4s ease forwards;
  -webkit-animation: upAnimation 0.4s ease forwards;
}

@keyframes upAnimation {
  0% {
    left: -100px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

.hoverScale:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.mobileNav {
  backdrop-filter: blur(20px);
}

.truncated-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbarHolder::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.authInputes > div > fieldset {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.authInputes label {
  padding-left: 10px;
}

.authInputes > div > input {
  padding-left: 30px;
}
